@font-face {
    font-family: 'Lovely';
    src: url('LovelyRegular.woff2') format('woff2'),
        url('LovelyRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

