* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fondo {
    position: relative;
    min-height: 100vh;
    background: #f4f7fb;
    padding: 30px 60px 60px 60px;

}

.context-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    background: linear-gradient(180deg, #1E3932 0%, #2D5248 100%);
    z-index: 1;
}

.panel {
    position: relative;
    z-index: 2;
    background: white;
    max-width: 1100px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 30px 560px rgba(0, 0, 0, 0.2);
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}
