@import url("../public/globalsfont.css");
@import url("variables.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    background: var(--color-bg);
    padding: 0,5em;
}

